<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-2.1.xsd
            http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd 
            http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-2.5.xsd
            http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.8.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.inter.consumer" />

<!-- 
	<context:property-placeholder location="file:/var/lib/tomcat7/dbProp/db.properties" />
 -->
	<context:property-placeholder location="file:c:/demo/db.properties" />
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.mybatis3.mappers" />
	</bean>
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:com/inter/consumer/mapper/**/*.xml" />
	</bean>
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${db.mysql.driverClass}"></property>
		<property name="jdbcUrl" value="${db.mysql.jdbcUrl}"></property>
		<property name="user" value="${db.mysql.user}"></property>
		<property name="password" value="${db.mysql.password}"></property>
		<property name="initialPoolSize" value="${db.mysql.initialPoolSize}"></property>
		<property name="minPoolSize" value="${db.mysql.minPoolSize}"></property>
		<property name="maxPoolSize" value="${db.mysql.maxPoolSize}"></property>
	</bean>
	
	<!-- mongodb configuration -->
	<mongo:mongo-client id="mongo" host="${db.mongodb.host}" port="${db.mongodb.port}" credentials="${db.mongodb.credentials}">
		<mongo:client-options
			connections-per-host="${db.mongodb.connectionsPerHost}" 
			threads-allowed-to-block-for-connection-multiplier="${db.mongodb.threadsAllowedToBlockForConnectionMultiplier}" 
			connect-timeout="${db.mongodb.connectTimeout}" 
			max-wait-time="${db.mongodb.maxWaitTime}" 
			socket-keep-alive="${db.mongodb.socketKeepAlive}"
			socket-timeout="${db.mongodb.socketTimeout}"
			 />
	</mongo:mongo-client>

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongo" />
		<constructor-arg  value="${db.mongodb.dbname}" />
	</bean>
</beans>
